<!DOCTYPE html>
<html ng-app="jedabero" class="no-js" lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Jedabero
    </title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/home.css"></style>

    <!--link rel="stylesheet" href="//localhost/vendor/foundation/css//foundation.scss">
    <script src="//localhost/vendor/jquery/jquery-1.11.2.min.js"></script>
    <script src="//localhost/vendor/angular/angular.js"></script-->
    
</head>

<body>

<div id="loading-anim">
	<div class="text-center">
		<i class="fi-loop"></i>
		<p id="loading-msg" class="text-center">
			Cargando...
		</p>
	</div>
</div>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-38807274-3', 'auto');
	ga('send', 'pageview');

	document.getElementById('loading-msg').innerHTML = 'Cargando librerias...';

</script>
<div>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation/foundation.equalizer.js"></script>
<script src="js/app.js"></script>
</div>

<header class="row">
	<div class="large-12 columns">
		<div class="hide-for-small-only nav-bar right">
			<ul class="button-group radius">
				<li>
					<a role="button" class="button" href="#about">Acerca</a>
				</li>
				<li>
					<a role="button" class="button" href="#work">Trabajo</a>
				</li>
				<li>
					<a role="button" class="button" href="#contact">Contacto</a>
				</li>
			</ul>
		</div>
		<h1 class="text-center">
			<span class="hide-for-medium-only">Hola soy Jedabero</span>
			<span class="show-for-medium-only">Jedabero</span>
		</h1>
		<hr />
	</div>
</header>

<div class="row" id="about" ng-controller="aboutController" ng-cloak>
	<div class="small-6 medium-8 columns">
		<h3>Sobre m&iacute;</h3>
		<p>
			Hola, soy Jedabero, también conocido como Jeison David Berdugo Orejarena.
		</p>
		<p>
			Ingeniero de Sistemas. Me gusta programar. En general he tratado con lenguajes como
			<j-link linked="language.java"></j-link>
			y <j-link linked="language.php"></j-link>
			(y <j-link linked="language.javascript"></j-link>, por default).
			Aunque eso no quiere decir que no trabaje con lenguajes como
			<j-link linked="language.ruby"></j-link>,
			<j-link linked="language.python"></j-link>,
			<j-link linked="language.cpp"></j-link>,
			<j-link linked="language.net"></j-link>.
		</p>
		<p>
			He trabajado con frameworks como
			<j-link linked="framework.laravel"></j-link>,
			<j-link linked="framework.ci"></j-link>,
			<j-link linked="framework.extjs"></j-link>
			y <j-link linked="framework.android"></j-link>.
		</p>
	</div>
	<div class="small-6 medium-4 columns">
		<img src="//pbs.twimg.com/profile_images/446938660743553024/asArrL8f.jpeg" alt="Me">
	</div>
</div>

<div class="row" id="work" ng-controller="portfolioController" ng-cloak>
	<hr />
	<div class="large-12 columns">
		<h3>Mi portafolio</h3>
		<div class="row" ng-repeat="groups in projects" data-equalizer>
			<div class="medium-4 columns" ng-class="{end:$last}" ng-repeat="project in groups">
				<div class="panel radius project" data-equalizer-watch>
					<h4>{{ project.name }}</h4>
					<p>{{ project.title }}</p>
					<p>{{ project.description }}</p>
					<ul class="inline-list align-bottom">
					  	<li ng-if="project.link">
					  		<a href="//{{ project.link }}" title="Enlace externo">P&aacute;gina</a>
					  	</li>
					  	<li ng-if="project.githubLink" class="github-link">
					  		<a href="//{{ project.githubLink }}" title="P&aacute;gina GitHub"><i class="fi-social-github"></i></a>
					  	</li>
					</ul>
				</div>
			</div>
			<script type="text/javascript" ng-if="$last">
				$(document).foundation();
			</script>
		</div>
	</div>
</div>

<div class="row" id="contact" ng-controller="contactController" ng-cloak>
	<div class="large-12 columns">
		<hr />
		<h4>Contact</h4>
		<div class="social">
			<ul class="inline-list">
				<li ng-repeat="social in networks">
					<a href="//{{ social.link }}" target="_blank" title="{{ social.name }}" rel="author">
						<i class="{{ social.icon }}"></i></a>
				</li>
			</ul>	
		</div>
	</div>
</div>

<footer class="row">
	<div class="large-12 columns">
		<hr />
		<div class="row">
			<div class="medium-6 columns">
				&copy;2015 Jedabero
			</div>
			<div class="medium-6 columns">
				<ul class="inline-list right">
					<li><a href="#about">Acerca</a></li>
					<li><a href="#work">Trabajo</a></li>
					<li><a href="#contact">Contacto</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</body>
</html>
